@font-face {
    font-family: 'digital';
    src: url(fonts/digital.ttf);
}

@font-face {
    font-family: 'flip';
    src: url(fonts/FLIPclockblack.ttf);
}

@font-face {
    font-family: 'gondens';
    src: url(fonts/Gondens.otf);
}

body {
    background-color: #c6c6c6;
    overflow: hidden;
}

#launch {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    background-color: red;
    color: white;
    border-radius: 100%;
    height: 200px;
    width: 200px;
    transition: all 0.2s ease;
    border: solid black 4px;
    filter: drop-shadow(0px 10px 0px black);
    transform: translateX(-50%) translateY(-50%) translateY(-10px);
}

#launch:disabled {
    filter: drop-shadow(0px 0px 0px black) brightness(0.5);
    transform: translateX(-50%) translateY(-50%);
}


#timers {
    position: absolute;
    left: 50vw;
    top: 0;
    transform: translateX(-50%) translateY(-100%);
    padding: 20px;
    border: 4px solid black;
    border-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 1s cubic-bezier(0.00, 0.2, 0.2, 1);
}

#eta {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

    span {
        font-family: 'digital';
    }
}

#timers.down {
    transform: translateX(-50%);

}

.old {
    font-size: 50px;
    font-family: 'digital', Courier, monospace;
    font-weight: 700;
    background-color: rgb(53, 53, 53);
    color: rgb(0, 200, 0);
}

#angle {
    position: absolute;
    right: 10vw;
    bottom: 0;
    transform: translateY(100%);
    transition: all 1s cubic-bezier(0.00, 0.2, 0.2, 1);
    padding: 20px;
    padding-bottom: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#angle.enabled {
    transform: translateY(0);
}

#drone-container {
    z-index: -1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 1vw;
    height: 100vh;
    width: 30vw;
    background-color: #E5E9EB;
}

#drone-image {
    width: 20vw;
    transition: all 1s cubic-bezier(0.3, 0, 0.7, 1);
}

#overlay {
    z-index: -1;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    transition: opacity 1s ease;
}

#black {
    background-color: black;
    opacity: 1;
    width: 100vw;
    height: 100vh;
}

#congrats {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    height: 200px;
}

#positions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr repeat(3, 1fr);
    padding-right: 20px;
    z-index: 1;
    align-content: center;
    text-align: right;
    gap: 0 20px;
    position: absolute;
    background-color: rgb(164, 164, 164);
    font-family: 'flip';
    font-size: 55px;
    width: 35vw;
    height: 60vh;
    top: 50vh;
    left: 0;
    transform: translateY(-50%) translateX(-100%);
    transition: all 1s cubic-bezier(0.00, 0.2, 0.2, 1);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: 4px solid black;
    border-left: 0;
    padding-left: 5%;
}

#positions.enabled {
    transform: translateY(-50%) translateX(-10%);
    filter: drop-shadow(0 10px 10px black);
}

#positions .top {
    align-self: end;
    justify-self: center;
}

.engrave {
    font-family: 'gondens';
    font-size: 35px;
    align-self: center;
    color:rgb(0, 0, 0)
}

#start {
    position: absolute;
    top: 50vh;
    left: 15vw;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    border: 4px solid black;
    border-radius: 5px;
    transition: all 0.2s ease;
    background-color: yellow;
    color: black;
    filter: drop-shadow(0px 10px 0px black);
}

#start:disabled {
    transform: translateY(-50%) translateY(10px);
    filter: drop-shadow(0px 0px 0px black);
}

#key {
    position: absolute;
    top: 15vh;
    left: 16vw;
    height: 150px;
    transform-origin: 50% 45%;
}